/* Add custom styles for the guild log page */
body {
    background-color: #1c202b;
    color: #d8d8d8;
    font-family: 'Open Sans', sans-serif;
}
  
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
  
h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}
  
.entry {
    background-color: #2d303e;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
  
.logname {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
  
/* Add styles for the Battle.net logo */
.logo {
    margin-bottom: 20px;
}
  
.logo img {
    height: 70px;
}
  
/* Add styles for the navigation menu */
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    margin-right: 20px;
}
  
nav a {
    color: #d8d8d8;
    text-decoration: none;
}
  
nav a:hover {
    color: #fff;
}
  
btn {
    background-color: #4e4e4e;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-wcl {
    background-color: #2a7bd3;
}

.btn-wf {
    background-color: #f7c331;
}
